<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <h1>Enter Your Name & Pin </h1>
        <form method="POST">
            <input type="text" name="username" placeholder="Your Name" required>
            <input type="text" name="pin" placeholder="Your Pin" required>
            <button type="submit">Enter</button>
        </form>
    </div>
    
</body>
</html>