<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <header>
        <h2 class="title">Amen Daily</h2>
    </header>
    <div class="holder">
  <div class="candle">
    <div class="blinking-glow"></div>
    <div class="thread"></div>
    <div class="glow"></div>
    <div class="flame"></div>
  </div>
</div>


<div class="container">
    <input class="c-checkbox" type="checkbox" id="checkbox">
    <div class="c-formContainer">
        <form class="c-form" action="" method="POST">
            <input class="c-form__input" placeholder="Username" type="text" name="username" required>
            <input class="c-form__input" placeholder="Pin" type="password" name="pin" required>
            <button class="c-form__button" type="submit">Enter</button>

            <label class="c-form__toggle" for="checkbox" data-title="login"></label>
        </form>
    </div>
</div>

    
</body>
</html>